

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.idea
*.iml
*.csv
*.txt
*.db
*.sql
*.xml
*.dll

bin/
.idea/
lib/
target/
__pycache__/
.gitignore


